---
import Gallery from '../components/gallery.astro';
import Header from '../components/Header_home.astro';
import Loader from '../components/loading.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tag Break</title>
  </head>
  <body>
    <Header />
  </body>
</html>
