 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
        background-color: white;
        border-bottom: 0.1px solid #1e494118;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        position: relative;
    }

    #logo{
        position: absolute;
        width: 20%;
        left: -2%;
        top: 15%;
        opacity: 0.8;
    }

    .nav-links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    .nav-links li {
      margin-left: 30px;
    }

    .nav-links a {
      text-decoration: none;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #1e4941d8 ;
      font-size: 1.03rem;
      transition: color 0.3s ease;
    }

    .nav-links a:hover {
      color: #ff9800;
    }

    #bag_icon{
        position: absolute;
        right: 5%;
        width: 1.4%;
        margin-top: 10px;

    }
    #search_icon{
        position: absolute;
        margin-top: 10px;
        right: 8%;
        width: 1.8%;
    }

    #first_hero_image {
      display: block;            
      width: 90%;                
      max-height: 300px;          
      object-fit: cover;        
      margin: 0px auto;  
      padding: 20px;        
      border-radius: 30px;        
    }